@import 'src/styles/colors.scss';

.svg {
  width: 100%;
  height: auto;
}
.candidateLabel {
  margin-left: 55px;
  &:first-child {
    margin-left: 0;
  }
}
.quizUri {
  margin-top: 15px;
  width: 550px;
  input {
    font-size: 12px;
    background: none;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.41);
    width: 75%;
  }
  .input {
    border: 1px solid rgba(0, 0, 0, 0.08);
    height: 55px;
    padding: 0 8px;
  }
  .copied {
    margin-right: -85px;
    color: $yellow;
    background: black;
    border-radius: 20px;
    padding: 0 15px;
    animation: copiedAnimation 0.2s ease-in-out;
    z-index: -10;

    @keyframes copiedAnimation {
      from {
        margin-right: 0;
      }
      to {
        margin-right: -80px;
      }
    }
  }
}
