@import './colors.scss';

.quiz {
  .greeting {
    margin-left: 20%;
    margin-top: 90px;
  }
  .items {
    width: 75%;
    margin: auto;
    height: 100px;
  }
  .item {
    width: 45%;
    margin: 5% 2%;
  }
}
