@import 'src/styles/colors.scss';

.qItem {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  svg {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .container {
    padding: 74px 86px 74px 60px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .title {
    width: 450px;
  }
  .details {
    margin-top: 35px;
    padding-left: 23px;
    .statistic {
      margin-top: 28px;
    }
  }
  &:hover {
    .viewMore {
      display: block;
      animation: onViewMoreHover 0.2s ease-in-out;
    }
  }
}

.viewMore {
  bottom: 15px;
  right: 18px;
  display: none;
  button {
    &:hover {
      background-color: black;
      color: $yellow;
      border: none;
    }
  }
}
@keyframes onViewMoreHover {
  from {
    bottom: 0px;
  }
  to {
    bottom: 15px;
  }
}
.status {
  height: 30px;
  width: 140px;
  border-radius: 15px;
  background-color: rgba(255, 236, 68, 0.68);
}
.date {
  margin-top: 21px;
  .label {
    .icon {
      font-size: 25px;
      width: 25px;
    }
    span {
      font-size: 13px;
      margin-left: 5px;
    }
  }
  .text {
    font-size: 13px;
  }
}
.statItem {
  margin-left: 56px;
  &:first-child {
    margin-left: 0px;
  }
  .text {
    font-size: 12px;
    width: 126px;
    margin-left: 8px;
    margin-top: 5px;
  }
}
.viewMoreBtn {
  border: 1px solid #c5c5c5;
  width: 164px;
  height: 60px;
  box-shadow: 0px 4px 1px #000000;
}

.viewMoreBtnSmall {
  width: auto;
  padding: 0 20px;
  height: 37px;
}
