@import 'src/styles/colors.scss';

.candidateQuiz {
  padding: 50px;
}
.leftSidebar {
  border-right: 1px solid #ddd;
  width: 30%;
  padding: 72px 0;
  overflow-y: auto;
  overflow-x: hidden;
  .testTitle {
    margin-left: 46px;
    font-size: 15px;
    width: 300px;
  }
  .questions {
    margin-top: 63px;
    .qTitle {
      margin-left: 102px;
      color: rgba(0, 0, 0, 0.2);
      font-size: 14px;
    }
    .listOfQuestions {
      margin-top: 37px;
      .listItem {
        padding: 37px 0 37px 60px;
        cursor: pointer;
        margin: 4px 0;
        position: relative;
        .container {
          padding: 21px 0px 21px 45px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          .qType {
            width: 130px;
            margin-left: 10px;
            height: 30px;
            font-size: 12px;
            border-radius: 20px;
            background: rgba(0, 0, 0, 0.11);
            margin-top: 10px;
          }
        }
      }
      .activeList,
      .listItem {
        &::after {
          content: '';
          transform: matrix(1, -0.02, -0.02, -1, 0, 0);
          background: #f1f1f1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -10;
        }
      }
      .activeList::after {
        border-left: 11px solid $yellow;
      }
    }
  }
}

.rightSidebar {
  margin-left: 35%;
  padding: 20px 150px 0px 90px;
}
.qDetail {
  margin-top: 54px;
  .qHeading {
    background: linear-gradient(180deg, #ffec44 0%, rgba(255, 236, 68, 0) 100%);
    border-radius: 20px;
    padding: 58px 130px;
    padding-bottom: 80px;
  }
}
.choices {
  margin-top: 20px;
  padding: 70px;
  padding-left: 100px;
  li {
    margin: 20px 0px;
    .btn {
      width: 40px;
      height: 40px;
      background-color: rgba(217, 217, 217, 1);
    }
    span {
      margin-left: 10px;
      width: 500px;
    }
  }
}
