@import 'src/styles/colors.scss';

.questionItem {
  padding: 20px 30px 40px 30px;
  min-height: 135px;
  &:hover {
    border: 1px solid $pbc;
    .viewMore {
      display: block;
    }
  }
  .qName {
    width: 250px;
  }
  .qType {
    margin-top: 13px;
    margin-left: 15px;
    height: 25px;
    background: rgba(0, 0, 0, 0.12);
    padding: 0 20px;
    &:first-child {
      margin-left: 0px;
    }
  }
}
.rightButtons {
  right: -20px;
  button {
    margin: 15px 0;
  }
}
.editBtn {
  width: 81px;
  height: 27px;
  border-radius: 5px;
}
.editBtnPrimary {
  background-color: $yellow;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.editBtnSecondary {
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
