@import 'src/styles/colors.scss';
@import '../Setup.module.scss';

.nb {
  width: 386px;
  margin: auto;
}
.btnSection {
  cursor: pointer;
  button {
    background-color: #eaeaea;
    width: 152px;
    height: 62px;
    position: relative;
    pointer-events: none;
  }
  &:hover {
    button {
      box-shadow: 0px 4px 20px #0000006c;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        border-radius: 10px;
        animation: animateButton 0.2s ease;
        background-color: rgba(0, 0, 0, 0.21);
        right: 0;
      }
    }
  }
}
@keyframes animateButton {
  0% {
    width: 20%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  50% {
    width: 50%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  100% {
    width: 100%;
    border-radius: 10px;
    right: 0;
  }
}

.importCandidate {
  width: 65%;
  margin: auto;
}
