@import '../../styles/colors.scss';

.quizItem {
  border-radius: 20px;
  padding: 33px 31px 33px 42px;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid rgba(217, 217, 217, 0.48);
  .date {
    right: 31px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(97, 93, 93, 1);
    top: 18px;
  }
  .info {
    margin-left: 11px;
    margin-top: 10px;
    .status {
      .color {
        width: 35px;
        height: 20px;
        background-color: black;
        border-radius: 5px;
      }
      span {
        font-size: 13px;
        margin-left: 10px;
        text-transform: capitalize;
      }
    }
    .number {
      font-size: 12px;
      height: 26px;
      padding: 0 20px;
      border-radius: 100px;
      background-color: rgba(217, 217, 217, 0.26);
    }
  }
  .hr {
    height: 5px;
    background: #f2f2f2;
    transform: rotate(1.58deg);
    border-radius: 50px;
    margin-top: 15px;
    position: absolute;
    left: 10px;
    right: 10px;
  }
}

.sectionHeader {
  .title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.22);
    padding-left: 70px;
  }
}
.peopleItem {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
  .uri {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 30px;
    align-items: center;
  }
  .link {
    font-size: 12px;
  }
  .copyBtn {
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
}

.questionItem {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 35px;
  padding-left: 100px;
  padding-right: 26px;
  padding-top: 5px;
  &:first-child {
    margin-top: 20px;
  }
  .qHeading {
    .title {
      font-size: 15px;
    }
  }
  .choices {
    margin-left: -10px;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .li {
      span {
        font-size: 12px;
      }
    }
  }
  .time {
    height: 30px;
    width: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(217, 217, 217, 0.32);
    font-size: 12px;
    color: #00000080;
  }
}
.setup {
  width: 765px;
  border-radius: 30px;
  margin: auto;
  padding: 45px;
  .setupForm {
    .submitBtn {
      background-color: $oo;
      height: 50px;
      padding: 0 20px;
      border-radius: 5px;
      min-width: 100px;
    }
  }
}

.setupHeader {
  span {
    font-size: 25px;
  }
  .closeBtn {
    background-color: #ff0000;
    width: 50px;
    height: 50px;
    border-radius: 20px;
  }
}
