@import 'src/styles/colors.scss';

.candidateHeaderItem {
  margin-left: 100px;
  &:first-child {
    margin-left: 0;
  }
}
.candidateItem {
  padding: 35px 49px;
  &:hover {
    border: 1px solid $pbc;
    .viewMore,
    .rightBtn {
      display: block;
    }
  }
  .rightBtn {
    display: none;
  }
}
